.article-container {
    table {
        margin: auto;
        // margin-left: auto;
        // margin-right: auto;
        width: fit-content;

        // width: max-content;
        // max-width: 90%;
        thead {
            display: none;
        }

        tbody {
            td {
                color: black;
                border-color: transparent;
            }

            td,
            th {
                border-color: transparent;
                font-size: 0.9vw;
                text-align: center;
                padding: 2.5pt;
                // font-size: 4pt;
            }
        }

        caption {
            text-align: center;
            padding: 0;
            color: inherit;
        }
    }

    max-width: 90%;
}